<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Generate Employee</title>
</head>

<body>
    <% if (message) { %>
        <p>
            <%= message %>
        </p>
        <% } %>
            <form action="/" method="GET">
                <button type="submit">GENERATE DATA</button>
            </form>
</body>

</html>